<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing HyperLocal Truevalue forms">


<listeners>
<listener class-name="com.extentreport.utility.ExtentReporterNG" />
</listeners>

<test name="Testing Truevalue">
<classes>
<class name="com.truevalue.live.BooktestDrive"></class>
<class name="com.truevalue.live.TrueValueLive"></class>
<class name="com.truevalue.live.SellPage"></class>


</classes>
</test>
</suite>